# ECR Image
ECR_REGISTRY=655593806969.dkr.ecr.us-east-1.amazonaws.com
ECR_REPOSITORY=double-entry-ledger-engine
 
# RDS Database (get endpoint from AWS RDS console after provisioning)
RDS_ENDPOINT=ledger-db.cgrmu26cmkbf.us-east-1.rds.amazonaws.com
DB_PASSWORD=Welcome2LazyHouse
 
# Authentication
AUTH_API_KEYS=dev-key-12345:development:transaction:post,transaction:read,transaction:settle,transaction:cancel,transaction:reverse,account:create,account:read,account:update,balance:read


# Grafana
GRAFANA_PASSWORD=Welcome2LazyHouse